<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipo de Trabajo</title>

    <link rel="stylesheet" href="app.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fce32603fa.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <nav class="navbar">
          <div class="navbar-brand">
            <img src="img/logo.jpg" alt="RentEase">
          </div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Equipo</a>
            </li>
          </ul>
          <div class="custom-search">
            <input type="text" class="search-input" placeholder="Buscar">
            <span class="search-icon"><i class="fas fa-search"></i></span> 
          </div>
          <div class="action-buttons">
            <a href="#" class="btn">Login</a>
            <a href="#" class="btn">Sign Up</a>
          </div>
        </nav>
      </header>

    <div class="container">
        <h1 id="Encabezado" class="header">Comodidad, Convivencia y Comunidad</h1>
        <p id="Texto-Pren" class="lead">“Nuestra plataforma te ofrece una amplia selección de habitaciones para estudiantes diseñadas para brindarte la comodidad que necesitas para concentrarte en tus estudios”</p>
        <a id="Sesion" class="btn" href="hola.com">ÚNETE YA</a>
    </div>
    <div id="Press" class="container">
        <img id="img-pg" src="assets/img-landing.jpg" alt="Imagen representativa" width="400" height="250">
    </div>

    <div class="services-section">
        <div class="quienes-somos-container">
            <h2>¿QUIÉNES SOMOS?</h2>
            <div class="texto-container">
                <p>Somos un grupo de universitarios que a raíz de algunos problemas que observamos en algunos de nuestro compañeros y en cientos de estudiantes con respecto a la falta de buenos lugares para vivir y continuar sus estudios de forma tranquila, creamos esta página para ayudar a otras personas con la misma situación.</p>
            </div>
        </div>


    <div class="container">
        <h2 class="title">SERVICIOS</h2>
        <div class="service-container">
            <div class="service">
                <i class="fa-solid fa-file-circle-check icon"></i>
                <p class="service-description">INFORMACIÓN CERTIFICADA</p>
            </div>
            <div class="service">
                <i class="fa-solid fa-users icon"></i>
                <p class="service-description">COMUNIDAD INTERACTIVA</p>
            </div>
            <div class="service">
                <i class="fa-brands fa-gratipay icon"></i>
                <p class="service-description">RECOMEND. Y CONSEJOS</p>
            </div>
        </div>
    </div>

    <div class="team-section">
        <h2>EQUIPO DE TRABAJO</h2>
        <div class="team-container">
            <div class="team-member">
                <img src="assets/imgmember1.png" alt="Leon Garcia Alexis">
                <p>Leon Garcia Alexis</p>
            </div>
            <div class="team-member">
                <img src="assets/imgmember2.png" alt="Yépez Zapata Stefano">
                <p>Yépez Zapata Stefano</p>
            </div>
            <div class="team-member">
                <img src="assets/imgmember2.png" alt="Moran Zapata Oscar">
                <p>Moran Zapata Oscar</p>
            </div>
            <div class="team-member">
                <img src="assets/imgmember2.png" alt="Yengle Morillas Melissa">
                <p>Yengle Morillas Melissa</p>
            </div>
            <div class="team-member">
                <img src="assets/imgmember2.png" alt="Bazauri Villanueva Sebastian">
                <p>Bazauri Villanueva Sebastian</p>
            </div>
        </div>
    </div>
    <footer>
        <p>EaseRents</p>
        <p>Telf: 004-220214</p>
        <p>E-mail: </p>
        <div class="social-icons">
            <img src="assets/icons/facebook.png" alt="Facebook Icon">
            <img src="assets/icons/twitter.png" alt="Twitter Icon">
            <img src="assets/icons/instagram.png" alt="Instagram Icon">
        </div>
    </footer>
</body>
</html>
