<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipo de Trabajo</title>
    <link rel="stylesheet" href="app.component.css">
</head>
<body>

    <div class="container">
        <h1 id="Encabezado" class="header">Comodidad, Convivencia y Comunidad</h1>
        <p id="Texto-Pren" class="lead">“Nuestra plataforma te ofrece una amplia selección de habitaciones para estudiantes diseñadas para brindarte la comodidad que necesitas para concentrarte en tus estudios”</p>
        <a id="Sesion" class="btn" href="hola.com">ÚNETE YA</a>
    </div>
    <div id="Press" class="container">
        <img id="img-pg" src="assets/img-landing.jpg" alt="Imagen representativa" width="400" height="250">
    </div>


    <div class="team-section">
        <h2>EQUIPO DE TRABAJO</h2>
        <div class="team-container">
            <div class="team-member">
                <img src="assets/imgmember1.png" alt="Leon Garcia Alexis">
                <p>Leon Garcia Alexis</p>
            </div>
            <div class="team-member">
                <img src="assets/imgmember2.png" alt="Yépez Zapata Stefano">
                <p>Yépez Zapata Stefano</p>
            </div>
            <div class="team-member">
                <img src="assets/imgmember2.png" alt="Moran Zapata Oscar">
                <p>Moran Zapata Oscar</p>
            </div>
            <div class="team-member">
                <img src="assets/imgmember2.png" alt="Yengle Morillas Melissa">
                <p>Yengle Morillas Melissa</p>
            </div>
            <div class="team-member">
                <img src="assets/imgmember2.png" alt="Bazauri Villanueva Sebastian">
                <p>Bazauri Villanueva Sebastian</p>
            </div>
        </div>
    </div>
    <footer>
        <p>EaseRents</p>
        <p>Telf: 004-220214</p>
        <p>E-mail: </p>
        <div class="social-icons">
            <img src="assets/icons/facebook.png" alt="Facebook Icon">
            <img src="assets/icons/twitter.png" alt="Twitter Icon">
            <img src="assets/icons/instagram.png" alt="Instagram Icon">
        </div>
    </footer>
</body>
</html>
