<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>landing-page</title>
    <link rel="stylesheet" href="app.component.css">
</head>
<body>
    <div class="container">
        <h1 id="Encabezado" class="header">Comodidad, Convivencia y Comunidad</h1>
        <p id="Texto-Pren" class="lead">“Nuestra plataforma te ofrece una amplia selección de habitaciones para estudiantes diseñadas para brindarte la comodidad que necesitas para concentrarte en tus estudios”</p>
        <a id="Sesion" class="btn" href="hola.com">ÚNETE YA</a>
    </div>
    <div id="Press" class="container">
        <img id="img-pg" src="assets/img-landing.jpg" alt="Imagen representativa" width="400" height="250">
    </div>
</body>
</html>
